html *{
    font-family: 'Source Sans Pro', sans-serif;
}

/* For Mobile S */
@media screen and (max-width:320px){
    #logoName{
        margin-left: 3em;
    }

    #logo{
        /* margin-top: -10em;
        margin-left: -24em; */
        margin-top: -12.6em;
        margin-left: -2.4em;
    }

    /* Login Section */
    .phoneLogin{
        text-align: center;
    }

    #username{
        margin-top: 5em;
    }

    .passwordLogin{
        text-align: center;
        margin-top: 3em;
    }
    #password{
        margin-top: 0.4em;
    }

    #remember{
        margin-top: 5em;
        margin-left: 5em;
    }

    #checkbox{
        margin-left: -3em;
        margin-right: 2px;
    }

    #fpassword{
        margin-top: -1.45em;
    }

    #forget{
        margin-left: 14.5em;
        margin-top: 3em;
    }

    .buttton{
        text-align: center;
    }

    #btn-login{
        margin-top:2.4em;
        color: white;
        margin-left: 4em;
        width:8em;
    }

    #phone_number{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    #password{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }
}


/* For Mobile M */
@media screen and (max-width:375px)
and (min-width:321px){
    #logoName{
        margin-left: 5em;
    }

    #logo{
        /* margin-top: -10em;
        margin-left: -24em; */
        margin-top: -12.6em;
        margin-left: -2em;
    }

    /* Login Section */
    .phoneLogin{
        text-align: center;
    }

    #username{
        margin-top: 5em;
    }

    .passwordLogin{
        text-align: center;
        margin-top: 3em;
    }
    #password{
        margin-top: 0.4em;
    }

    #remember{
        margin-top: 5em;
        margin-left: 5em;
    }

    #checkbox{
        margin-left: -3em;
        margin-right: 2px;
    }

    #fpassword{
        margin-top: -1.45em;
    }

    #forget{
        margin-left: 14.5em;
        margin-top: 3em;
    }

    .buttton{
        text-align: center;
    }

    #btn-login{
        margin-top:4em;
        color: white;
        margin-left: 5.4em;
        width:8em;
    }

    #phone_number{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    #password{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }
}

/* For Mobile L */
@media screen and (max-width:425px)
and (min-width:376px){
    #logoName{
        margin-left: 6em;
    }

    #logo{
        /* margin-top: -10em;
        margin-left: -24em; */
        margin-top: -12.6em;
        margin-left: -2em;
    }

    /* Login Section */
    .phoneLogin{
        text-align: center;
    }

    #username{
        margin-top: 5em;
    }

    .passwordLogin{
        text-align: center;
        margin-top: 3em;
    }
    #password{
        margin-top: 0.4em;
    }

    #remember{
        margin-top: 5em;
        margin-left: 5em;
    }

    #checkbox{
        margin-left: -3em;
        margin-right: 2px;
    }

    #fpassword{
        margin-top: -1.45em;
    }

    #forget{
        margin-left: 14.5em;
        margin-top: 3em;
    }

    .buttton{
        text-align: center;
    }

    #phone_number{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    #password{
        border:none;
        outline: none;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    /* Login Button */
    #btn-login{
        margin-top:4em;
        color: white;
        margin-left: 6.5em;
        width:8em;
    }

}