html *{
font-family: 'Source Sans Pro', sans-serif;
}


#logoName{
  margin-left: 5em;
}

#logo{
  /* margin-top: -10em;
  margin-left: -24em; */
  margin-top: -12.6em;
  margin-left: -2em;
}

/* Login Section */
.phoneLogin{
  text-align: center;
}

#username{
  margin-top: 5em;
}

.passwordLogin{
  text-align: center;
}
#password{
  margin-top: 3em;
}

#remember{
  margin-top: 5em;
  margin-left: 5em;
}

#checkbox{
  margin-left: -3em;
  margin-right: 2px;
}

#fpassword{
  margin-top: -1.45em;
}

#forget{
  margin-left: 14.5em;
  margin-top: 3em;
}

.buttton{
  text-align: center;
}

#btn-login{
  margin-top:6em;
  color: white;
  margin-left: 40%;
}
